<header>
  <div class="header-wrapper" >
    <a href="/" class="header-logo-left">MEMO APP</a>
    <% if (locals.isLoggedIn) { %>
      <a class="header-logo-right" href="/log_out">ログアウト</a>
    <% } else { %>
    <div>
      <a class="header-logo-right login-show">ログイン</a>
      <a class="header-logo-right signup-show">新規登録</a>
      <% } %>
  </div>
  </div>
</header>