<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div id="login-close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="login-form">
      <h2>ログイン</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス" name="email">
        <input class="form-control" type="password" placeholder="パスワード" name="password">
        <div id="login-btn">ログイン</div>
      </form>
    </div>
  </div>
</div>