<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <%- include('log_in'); %>
    <div class="container">
      <div class="container-header">
        <h1>残したいメモを入力してください</h1>
        <a href="/index" class="cancel-button">キャンセル</a>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">内容</p>
        <form action="/create" method="post">
          <input type="text" name="itemName">
          <input type="submit" value="作成する">
        </form>
      </div>
    </div>
  </body>
</html>