<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MEMO APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <div class="container">
      <div class="container-header">
        <h1>残したいメモを入力してください</h1>
        <a href="/index" class="cancel-button">キャンセル</a>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">内容</p>
        <form action="/create" method="post">
          <input type="text" name="itemName">
          <input type="submit" value="作成する">
        </form>
      </div>
    </div>
  </body>
</html>