<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <%- include('log_in'); %>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">ただのメモアプリ</h2>
        <h1 class="title">MEMO APP</h1>
        <a href="/index" class="index-button" id="top-title-id">メモを書く</a>
        <p class="description">
          メモしておきたいことを書きましょう！
        </p>
      </div>
    </div>
  </body>
</html>