<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">ただのメモアプリ</h2>
        <h1 class="title" id="top-title-id">MEMO APP</h1>
        <p class="description">
          メモしておきたいことを書いておきましょう
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
    </div>
  </body>
</html>