<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MEMO APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">ただのメモアプリ</h2>
        <h1 class="title">MEMO APP</h1>
        <p class="description">
          メモしておきたいことを書いておきましょう
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
    </div>
  </body>
</html>