<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MEMO APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">ただのメモアプリ</h2>
        <h1 class="title" id="top-title-id">MEMO APP</h1>
        <p class="description">
          メモしておきたいことを書いておきましょう
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>