<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <%- include('log_in'); %>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">既に登録されているメールアドレス<br />のため登録できませんでした</h2>
        <a href="/">トップに戻る</a>
      </div>
    </div>
  </body>
</html>