/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

/* top ================================ */
.top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
}

.top-detail {
  width: 50%;
}

.top-detail .subtitle {
  margin-bottom: 50px;
}

.top-detail .title {
  font-size: 70px;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.top-detail .description {
  font-size: 30px;
  margin-top: 40px;
  display:none;
}

.top-detail .index-button {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  color: #42cea9;;
  background-color: #ffffff;
  border: 2px solid #58d2b2;
  border-radius: 2px;
}

.top-detail .index-button:hover {
  color: #ffffff;
  background-color:  #58d2b2;
}


.index-button {
  cursor: pointer;
}

/* header ================================ */
header {
  height: 20%;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo-left {
  margin-left: 56px;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo-left:hover {
  color: #58d2b2;
}

.header-logo-right {
  margin-right: 56px;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo-right:hover {
  color: #58d2b2;
  cursor: pointer;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
}

/* container ================================ */
.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-header .new-button {
  background: #80bcff;
  border-radius: 30px;
  font-size: 15px;
  width: 120px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #80bcff;
}
.container-header .new-button:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}

.cancel-button {
  margin-top: 15px;
  color: #bac6d3;
  text-decoration: underline;
  display: inline-block;
}

.cancel-button:hover {
  color: #80bcff;
}

.container-header h1 {
  font-size: 24px;
}

/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  height: 50px;
  font-size: 15px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  width: 70px;
  text-align: center;
}

.table-body {
  background-color: #ffffff;
}

.table-body li {
  height: 70px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-body .id-column {
  font-size: 15px;
  color: #bac6d3;
}

.table-body .name-column {
  font-size: 15px;
  color: #8491a5;
}

.item-data {
  display: flex;
}

.item-menu {
  display: flex;
}

.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #bac6d3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.item-menu form input:hover {
  color: #ff7f8c;
  transition: all 0.3s ease;
}

.item-menu a {
  width: 60px;
  font-size: 15px;
  color: #bac6d3;
  text-align: center;
}

.item-menu a:hover {
  color: #80bcff;
}

/* new, edit ================================ */
.item-form-wrapper {
  background-color: #ffffff;
  border: 1px solid #f0f4f9;
  padding: 30px;
}

.form-label {
  font-size: 15px;
  color: #8491a5;
}

.item-form-wrapper input[type="text"] {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #fcfcfd;
  border: 1px solid #bac6d3;
  color: #2b546a;
  font-size: 15px;
}

.item-form-wrapper input[type="submit"] {
  display: block;
  width: 120px;
  height: 45px;
  margin-top: 25px;
  margin-left: auto;
  border-radius: 30px;
  font-size: 15px;
  background-color: #80bcff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid #80bcff;
}

.item-form-wrapper input[type="submit"]:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}

/*モーダル*/
.signup-modal-wrapper,.login-modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form,#login-form{
  width: 100%;
}

#signup-form h2,.login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input,#login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn,#login-btn{
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.fa {
  margin-right: 5px;
}

.error-message {
  color: red;
  font-size: 15px;
}
